body {
  font-family: "Poppins";
}

li {
  list-style: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(29,198,209,1);
  position: fixed;
  top: 0;
  /* z-index: 10; */
  color: white;

}

.logo {
  width: 150px;
  margin-top: 20px;
}


.header-left {
  float: left;
}

.header-right {
  height: 65px;
  float: right;
  
  transition: all 0.5s;
}

.header-right p {
  height: 65px;
  line-height: 65px;
  margin-left: 25px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  display: block;
  float: left;
}

.header-right:hover {
  background-color: rgba(241,246,247,1);
  );
}

.top-wrapper {
  padding: 180px 0 10px 0;
  width: 100%;
  height: 400px;
  background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  display: flex;
}

.top-wrapper h1 {
  font-size: 64px;
  width: 90%;
}

.top-wrapper p {
  font-size: 24px;
}

.container {
  display: block;
  color: rgba(18,18,18,1);
  margin-left: 50px;
}

.btn-wrapper {
  margin: 100px 0px 100px 0;
  width: 100%;
}

.button {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgba(29,198,209,1);
  opacity: 0.8;
}

.search {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 100px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: rgba(216,216,216,1);
  opacity: 0.8;
}


.button:hover {
  color: white;
}

.search:hover {
  background-color: rgba(241,246,247,1);
}

.middle-wrapper {
  padding: 50px 0 50px 0;
  width: 100%;
  height: 400px;
  /* background-color: salmon; */
}

.heading {
  text-align: center;
}

.benefit {
  /* width: 100%; */
  /* height: 200px; */
  background-color: springgreen;
}

.benefit-list {
  float: left;
  padding: 10px;
  margin-left: 30px;
  width: 20%;
  height: 100%;
  text-align: center;
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

footer {
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: whitesmoke;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
  color: whitesmoke;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 20px;
  color: whitesmoke;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #faf0f0;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 20%;
  border: none;
  outline: none;
  background: #f3efef;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f120d5;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
.right form .text {
  color: whitesmoke;
}
