* {
  box-sizing: border-box;
}
/* Global Class */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  /*   background-color: whitesmoke; */
}
ul {
  text-decoration: none;
  list-style: none;
}
li {
  text-decoration: none;
}
/* akhir Global Class */

/* header */
header {
  height: 65px;
  width: 100%;
  background-color: #151515;
  position: fixed;
}
.logo {
  width: 50px;
  height: 50px;
  margin-top: 0.5rem;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
  margin-right: -25px;
}
.header-right .nav-btn .nav-link {
  float: left;
  padding: 2em;
}
.nav-link {
  position: relative;
}
.nav-link a {
  line-height: 1.5rem;
  padding: 0 0.8rem;
  letter-spacing: 2px;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  color: whitesmoke;
}
.nav-link > a > i {
  margin-left: 0.2rem;
}
.nav-link:hover > a {
  transform: scale(1.1);
}
.nav-links > ul {
  display: flex;
}
.header-right a:hover {
  background-color: rgba(149, 127, 245, 0.3);
}
.nav-link a {
  text-decoration: none;
}

/* dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
}
.dropdown ul {
  position: relative;
}
.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}
.dropdown-link > a {
  display: flex;
  background-color: #fff;
  color: #3498db;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
.dropdown-link:hover > a {
  background-color: #3498db;
  color: #fff;
}
.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #efefef;
}
.dropdown-link i {
  transform: rotate3d(-90deg);
}

/* akhir dropdown */

/* akhir header */

/* wrapper */
.top-wrapper {
  padding: 260px 0 1px 0;
  width: 100%;
  height: 700px;
  background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  display: flex;
}
.middle-wrapper {
  padding: 50px 0 50px 0;
  width: 100%;
  height: 400px;
}
.top-wrapper h1 {
  font-size: 64px;
  width: 90%;
}

.top-wrapper p {
  font-size: 24px;
}
.top-wrapper .container {
  text-align: center;
}
.heading {
  text-align: center;
  padding: 2em;
}
.benefit-list {
  float: left;
  padding: 10px;
  margin-left: 30px;
  width: 20%;
  height: 100%;
  text-align: center;
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.benefit-list h2{
  margin-top: 1em;
}
.benefit-list p{
  margin-top: 2em;
  letter-spacing: 2px;
}
/* .top-wrapper .container {
  background-color: #a5d7f8;
}
marquee {
  text-align: center;
}
.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper p {
  margin-bottom: 3px;
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.signup {
  background-color: #239b76;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}
.btn1 {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
} */
.fa {
  margin-right: 5px;
}
/* akhir wrapper */

/* footer */
footer {
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: whitesmoke;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
  color: whitesmoke;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 20px;
  color: whitesmoke;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #faf0f0;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 20%;
  border: none;
  outline: none;
  background: #f3efef;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f120d5;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
.right form .text {
  color: whitesmoke;
}
